@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.side-bar {
  transition: all 0.3s linear;
  transition-duration: 500ms;
}
.loader {
  border-top-color: #6379f4;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}
/* .ReactCodeInput input {
  display: flex;
  gap: 16px;
} */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .hero-home {
    background-image: url(../assets/background/bgHomeee.webp);
    background-size: cover;
    background-position: center;
    height: 100%;
    /* object-fit: cover; */
  }
  .shadow-box {
    box-shadow: 0px 4px 20px 0px #0000000d;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
